.wrapper {
    width: 100%;
    display: flex;
    background-color: #0E0E0E;
    box-shadow: 8px 8px 16px -8px rgba(0, 0, 0, 0.233);
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 0.5s;
}

.wrapper:hover {
    border: 1px solid #722a2a;
}

.wrapper img {
    min-width: 94px;
    width: 94px;
    height: 141px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wrapper .infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    letter-spacing: 0.5px;
}

.wrapper .infos .title {
    color: #c4c4c4;
    font-weight: 700;
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrapper .infos .data {
    color: #999999;
    font-size: 0.9rem;
}

.wrapper .infos .plot {
    color: #dadada;
    margin: 0;
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}


@media (max-width: 700px) {
    .wrapper img {
        min-width: 88px;
        width: 88px;
        height: 135px;
    }
}