.mylist {
    min-height: 100vh;
    background-color: #181818;
    padding-top: 50px;
    padding-bottom: 150px;
}

.mylist h3 {
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
}

.mylist .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}